header .menu {
   width: 200px;
   text-align: center;
   background: navy;
   color: white;
 }
 
header .sub-menu {
   background: white;
   display: none;
 }
 
header li{
   border: 1px solid navy;
 }
 
header ul {
   width: 200px;
   list-style: none;
   margin: 0;
   padding: 0;
 }
 
header a {
   text-decoration: none;
   color: navy;
 }
 
header .menu:hover .sub-menu {
   display: block;
 }

/* ▼タブ */
#tabcontrol a {
    display: inline-block;            /* インラインブロック化 */
    border-width: 1px 1px 0px 1px;    /* 下以外の枠線を引く */
    border-style: solid;              /* 枠線の種類：実線 */
    border-color: black;              /* 枠線の色：黒色 */
    border-radius: 0.75em 0.75em 0 0; /* 枠線の左上角と右上角だけを丸く */
    padding: 0.75em 1em;              /* 内側の余白 */
    text-decoration: none;            /* リンクの下線を消す */
    color: black;                     /* 文字色：黒色 */
    background-color: white;          /* 背景色：白色 */
    font-weight: bold;                /* 太字 */
    position: relative;               /* JavaScriptでz-indexを調整するために必要 */
 }

 #tabcontrol {
    margin:0;
 }

 /* ▼タブにマウスポインタが載った際(任意) */
 #tabcontrol a:hover {
    text-decoration: underline;       /* 文字に下線を引く */
 }
 /* ▼タブにマウスポインタが載った際（任意） */
 #tabcontrol a:hover {
    text-decoration: underline;   /* リンクの下線を引く */
 }
 /* ▼タブの中身 */
#tabbody div {
    border: 1px solid black; /* 枠線：黒色の実線を1pxの太さで引く */
    margin-top: -1px;        /* 上側にあるタブと1pxだけ重ねるために「-1px」を指定 */
    padding: 1em;            /* 内側の余白量 */
    background-color: white; /* 背景色：白色 */
    position: relative;      /* z-indexを調整するために必要 */
    z-index: 0;              /* 重なり順序を「最も背面」にするため */
 }
 /* ▼タブの配色 */
 #tabcontrol a:nth-child(1), #tabbody div:nth-child(1) { background-color: #ffffdd; }/* 1つ目のタブとその中身用の配色 */
 #tabcontrol a:nth-child(2), #tabbody div:nth-child(2) { background-color: #ddffdd; }/* 2つ目のタブとその中身用の配色 */
 #tabcontrol a:nth-child(3), #tabbody div:nth-child(3) { background-color: #ddddff; }/* 3つ目のタブとその中身用の配色 */

 #leftBox{
    width: 50%;    /* 左側 */
    float:left;
}

#leftBox h1{
   font-family: "Impact" ;
   color: orange;
}

#rightBox{
    width: 50%;    /* 右側 */
    float:right;
}

#today{                          /*今日の日付*/
    display: inline-block;            /* インラインブロック化 */
    border-width: 1px 1px 0px 1px;    /* 下以外の枠線を引く */
    border-style: solid;              /* 枠線の種類：実線 */
    border-color: black;              /* 枠線の色：黒色 */
    padding: 0.75em 1em;              /* 内側の余白 */
    text-decoration: none;            /* リンクの下線を消す */
    color: black;                     /* 文字色：黒色 */
    background-color:#faf6b0;          /* 背景色：白色 */
    font-weight: bold;                /* 太字 */
    position: relative;               /* JavaScriptでz-indexを調整するために必要 */
}

#tabbody input[type="text"] {
    width: 84%;
    height: 30px;
    margin: 5px;
}

#tabbody input[type="image"] {
   margin-top:2px;
}

#rightBox {
   font-size: 18px;
}

#rightBox table {
   border-spacing: 0;
   border-collapse: collapse;
}

#rightBox td {
   border: 1px solid #ddd;
   padding: 5px;
   text-align: center;
}

#rightBox td:first-child {
   color: red;
}

#rightBox td:last-child {
   color: royalblue;
}

#rightBox #calendar { /*カレンダーのmargin等*/
   display: flex;
   flex-wrap: wrap;
}

#rightBox #btn{
   margin-top: 60px;
   margin-left: 30px;
   margin-right: 30px;
}

#rightBox #btn #prev{
   float:left;
   cursor: pointer;
   zoom: 1;
   background: #00a2b7;
   color: #fff;
   border: 1px solid #0aa2b5;
   border-radius: 4px;
   padding: 5px 10px;
   margin-top: 15px;
}

#rightBox #btn #next{
   float:right;
   cursor: pointer;
   zoom: 1;
   background: #00a2b7;
   color: #fff;
   border: 1px solid #0aa2b5;
   border-radius: 4px;
   padding: 5px 10px;
   margin-top: 15px;
}

#rightBox section {
   text-align: center;
   width: 100%;
   table-layout: fixed;
}

#rightBox h1 {
   font-size: 18px;
}

#rightBox table {
   border-spacing: 0;
   border-collapse: collapse;
   width:100%;
}

#rightBox td {
   border: 1px solid #ddd;
   padding: 5px;
   text-align: center;
}

#rightBox td:first-child {
   color: red;
}

#rightBox td:last-child {
   color: royalblue;
}

#rightBox td.is-disabled {
   color: #ccc;
}